#crism MICA library
/mrocr_8001/
.gitignore
.DS_Store
__pycache__/
#development junk
sandbox.ipynb
create_histograms.py
create_spectral_plot.py
spectral_processes.py
test_rois/
SuPy.log
channeldata.json
index.html
meta.yaml
noarch/
argyre_center_point.cpg
argyre_center_point.dbf
argyre_center_point.prj
argyre_center_point.qix
argyre_center_point.shp
argyre_center_point.shx
crism_joined_plag.gpkg
crism_targeted_footprints.gpkg
crism_targeted_footprints_geojson.geojson
crism_targeted_footprints_geojson.qmd
crism_targeted_footprints_gpkg.gpkg
crism_targeted_footprints_gpkg_2.gpkg
crism_targeted_footprints_shapes.cpg
crism_targeted_footprints_shapes.dbf
nd_vis_gpt_pilot_details.txt
