#crism MICA library
/mrocr_8001/
.gitignore
.DS_Store
__pycache__/
#development junk
sandbox.ipynb
create_histograms.py
create_spectral_plot.py
spectral_processes.py
test_rois/
SuPy.log
channeldata.json
index.html
meta.yaml
noarch/
